footer {
    background:#232D3F; 
    width: auto;
    height: 100px;
    font-size: 18px;
    }

    p {
     color: rgb(255, 255, 255);
     text-align: center;
     text-transform: uppercase;
     margin:0;
     padding-top: 20px;
    }
    
a {
    color: white;
    text-decoration: none;
}

